body{
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
    margin-top: 30px;
}

nav{
    margin: 20px;
}

nav a{
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

p{
    font-size: 20px;
}
