<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image</title>

    <style>
        body{
            margin: 0;
            height: 100vh;

            background-image: url("file:///C:/Users/Galaxybook/Downloads/kdu.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            font-family: Arial;
        }

        h1{
            font-size: 60px;
        }
    </style>
</head>

<body>

    <h1>Welcome</h1>

</body>
</html>
